<template name="topicsListing">
  {{#contentFor "subnav"}}
    <h6 class="left"><a href="{{pathFor route='articles'}}">Back</a></h6>
    <h5 class="center-align">Manage my Topics</h5>
  {{/contentFor}}
  <div class="custom-container">
  <div class="form-holder">  
    <div class="row center-align">
      <div class="row topics-holder">
        {{#each getAllTopics}}
        <div class="col s12 m6 l6">
          <div class="topics">
            <input type="checkbox" id="{{_id}}" {{isChecked}}/>
            <label for="{{_id}}"></label>
            <div>{{name}}</div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
</template>  