<template name="test">
  {{#contentFor "subnav"}}
    <div class="row">
      <div class="col s12 m2 l2">  
        <a href="{{pathFor route='articles'}}" class="back-btn left fa fa-chevron-left"> Back</a>
      </div>
      <div class="col s12 m8 l8"> 
          <h5 class="center-align name">Record Video</h5> 
      </div>
    </div>
  {{/contentFor}}
<div class="custom-container">
  <h1>Welcome to Meteor!</h1>
  {{> hello}}
</div>
</template>

<template name="hello">
    This is my current cfs uploadurl: {{fshttp}}<br>
  <input id="upload-btn" type="file">

  {{> imageView}}
</template>

<template name="imageView">
    {{#each images}}
        {{root_url}}{{this.url}}
        {{#if Meteor.isCordova}}
            <img src="{{this.url}}" alt="" />
        {{else}}
            <img src="{{root_url}}{{this.url}}" alt="" />
        {{/if}}
    {{/each}}
</template>