<template name="thankyou">
	<div class="thankyou">
		<div class="logo-div">
			<img src="imgs/med-logo-1.png" alt="">
		</div>
		<div class="custom-container">
			<div class="shadow-box">
				<div class="panel-default">
					<h2>Thank you!</h2>

					<div class="text">
						<p>Your request has been sent successfully.</p>
						<p>Our team is going to review it and we will send you an email shortly.</p>
					</div>
					<a href="/" class="waves-light btn red">Return Home</a>
				</div>
			</div>
		</div>
		
	</div>
</template>