<template name="userSignup">
    <div class="valign-wrapper">

      <div class="sign-holder">
        <div class="logo-bar">
          <img src="/imgs/med-logo.png" alt="MedCircle"/>
        </div>
        <div class="tabs-holder">
          <div class="container sign-in-tabs">
            <div class="row">
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s3"><a id="member1" href="#test1">Members</a></li>
                  <li class="tab col s3"><a id="healthCare1" href="#test2">Healthcare Providers</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12">
                <div class="tabs-inner">
                  <h5 class="center-align">Member Sign Up</h5>
                  <hr>
                  <form class="advocate-sign-up-form">
                    <div class="row">
                     <div class="input-field col s6">
                       <input id="advo-first-name" name="advo-first-name" type="text">
                       <label for="advo-first-name" data-error="wrong" data-success="right">First Name</label>
                     </div>
                     <div class="input-field col s6">
                       <input id="advo-last-name" name="advo-last-name" type="text">
                       <label for="advo-last-name" data-error="wrong" data-success="right">Last Name</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="advocatePhone" name="advocatePhone" type="text">
                       <label for="advocatePhone" data-error="wrong" data-success="right">Phone</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="advocateEmail" name="advocateEmail" type="email">
                       <label for="advocateEmail" data-error="wrong" data-success="right">Email</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="advocatePassword" name="advocatePassword" type="password">
                       <label for="advocatePassword" data-success="right">Password</label>
                     </div>
                     <div class="col s12">
                       <a href="/forgot-password" class="f-pass-link">Forgot Password ?</a>
                     </div>
                     <div class="input-field col s12">
                       <input type="submit" class="advocateSignIn waves-light btn" value="Sign Up">
                     </div>
                     <div class="col s12">
                       <a href="/sign-in" id ="signInMember" class="sign-bottom">Already have an account? <span>Sign In</span></a>
                     </div>
                   </div>
                  </form>
                </div>
              </div>
              <div id="test2" class="col s12">
                <div class="tabs-inner">
                  <h5 class="center-align">Healthcare Provider Sign Up</h5>
                  <hr>
                  <form class="doctor-sign-up-form">
                    <div class="row">
                     <div class="input-field col s6">
                       <input id="doc-first-name" name="doc-first-name" type="text">
                       <label for="doc-first-name" data-error="wrong" data-success="right">First Name</label>
                     </div>
                     <div class="input-field col s6">
                       <input id="doc-last-name" name="doc-last-name" type="text">
                       <label for="doc-last-name" data-error="wrong" data-success="right">Last Name</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="doctorSpeciality" name="doctorSpeciality" type="text">
                       <label for="doctorSpeciality" data-error="wrong" data-success="right">Speciality(s)</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="doctorPhone" name="doctorPhone" type="text">
                       <label for="doctorPhone" data-error="wrong" data-success="right">Phone</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="doctorEmail" name="doctorEmail" type="email">
                       <label for="doctorEmail" data-error="wrong" data-success="right">Email</label>
                     </div>
                     <div class="input-field col s12">
                       <input id="doctorPassword" name="doctorPassword" type="password">
                       <label for="doctorPassword" data-success="right">Password</label>
                     </div>
                     <div class="col s12">
                       <a href="/forgot-password" class="f-pass-link">Forgot Password ?</a>
                     </div>
                     <div class="input-field col s12">
                       <input type="submit" class="doctorSignIn waves-light btn" value="Send Request">
                     </div>
                     <div class="col s12">
                       <a href="/sign-in" id="signInHealthCare" class="sign-bottom">Already have an account? <span>Sign In</span></a>
                     </div>
                   </div>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
