<template name="inviteAdvocate">
	{{#contentFor "subnav"}}
    <div class="row">
	    <div class="col s12 m2 l2">  
	      <a href="{{pathFor route='articles'}}" class="back-btn left fa fa-chevron-left"> Back</a>
	    </div>
	    <div class="col s12 m8 l8">
	      <h5 class="center-align">Invite</h5>
	    </div>
	    <div class="col s12 m2 l2">
	    </div>
	  </div>
  {{/contentFor}}
  <div class="custom-container">
		<div class="invite-holder shadow-box z-depth-1">
			<ul class="invite-form">
				<h5 class="header-invite">Invite Freinds to join MEDCIRCLE</h5>
				<li>
					<input id="user-email" name="user_email" type="text" placeholder="Enter Email" class="validate">
					<a id="invite-advocate-by-email" class="waves-effect waves-light btn">Invite</a>
				</li>
				<li>
					<input id="user-phone" name="user_phone" type="text" class="validate" placeholder="Enter Phone Number">
					<a id="invite-advocate-by-phone" class="waves-effect waves-light btn">Invite</a>
				</li>
				<li>
					<p>Separate multiple emails and phone numbers with commas.</p>
				</li>
			</ul>
		</div>	
	</div>
</template>