<template name="invite">
	{{#contentFor "subnav"}}
    <h5 class="center-align">Invite</h5>
  {{/contentFor}}
  <div class="custom-container">
		<div class="invite-holder shadow-box z-depth-1">
			<ul class="invite-form">
				<h5 class="header-invite">Invite Freinds to join MEDCIRCLE</h5>
				<li>
					<input id="" type="text" placeholder="Enter Email" length="10" class="validate">
					<a class="waves-effect waves-light btn">Invite</a>
				</li>
				<li>
					<input id="" type="text" class="validate" placeholder="Enter Email">
					<a class="waves-effect waves-light btn">Invite</a>
				</li>
				<li>
					<p>Separate multiple emails and phone numbers with commas.</p>
				</li>
			</ul>
		</div>	
	</div>
</template>