<template name="doctorsListing">
    {{#contentFor "subnav"}}
      <h5>Find Doctors</h5>
    {{/contentFor}}
<div class="custom-container"> 
  <div class="row">
    <div class="col-md-12">
      <div class="doctors-listing">
        <div class="prof-con">
          <div class="top-search shadow-box z-depth-1">
            <!-- <i class="fa fa-search"></i> -->
            <div class="search-holder fa fa-search"> 
              <input type="text" id="search-box" placeholder="Search for Doctors" />
            </div>
            <div class="search-note">
              <span>Search for doctors to follow! Join their circle and see their latest updates.</span>
            </div>
          </div>
          <div id='search-result'>
            <div id="search-meta">
              {{#if isLoading}}
                searching ...
              {{/if}}
            </div>
              <ul>
                {{#each searchResults}}
                  <div class="row">
                    <div class="doc-detail col s12 m6 l3">
                      <div class="shadow-box z-depth-1">
                        <img src="{{getImage profile.picture}}" alt="{{title}}">
                        <div class="prof-data">
                          <div class="name">
                            <h5>{{profile.name}}</h5>
                          </div>
                          <div class="city">
                           {{profile.city}}, {{profile.state}}
                          </div>   
                          <button class="btn btn-primary small">FOLLOW</button>
                        </div>
                      </div>
                    </div>  
                  </div>
                {{/each}}
              </ul>
          </div>
          <div class="row">
            {{#unless searchResults}}
              {{#each adminUsers}}
                <div class="doc-detail col s12 m6 l3">
                  <div class="shadow-box z-depth-1">
                    <img src="{{getImage pictureId}}" alt="{{title}}">
                    <div class="prof-data">
                      <h5>{{name}}</h5>
                      <address class="city">
                        {{city}}, {{state}}
                      </address> 
                      <button class="btn btn-primary small">FOLLOW</button>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{/unless}}
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>    


</template>
