<template name="nav">
  <nav role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a href="{{pathFor route='articles'}}" class="brand-logo"><img src="/imgs/logo.jpg"></a>
        <!-- <ul class="right hide-on-med-and-down">
          {{#if currentUser}}
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor route='doctorsListing'}}">Doctors</a></li>
            <li><a href="{{pathFor route='advocates'}}">Advocates</a></li>
            {{#if isInRole 'admin, doctor'}}
              <li><a href="{{pathFor route='article/new'}}">Add Article</a></li>
              <li><a href="{{pathFor route='articles'}}">Articles</a></li>
            {{/if}}
            {{#if isInRole 'doctor'}}
              <li><a href="{{pathFor 'profileView'}}">Profile</a></li>
            {{/if}}
            <li><a href="{{pathFor 'private'}}">Private</a></li>
            <li class="admin"><a>Hi, <b>{{currentUser.profile.name}}</b></a></li>
            {{/if}}
          <li>{{> atNavButton }}</li>
        </ul> -->
        <div class="drop-topic right">
          <li><a class="dropdown-button-topic left" href="#!" data-activates="dropdown2">Topics<i class="material-icons right"></i></a></li>
          <ul id="dropdown2" class="dropdown-content">
          {{#each userTopics}}
          <li><a href="{{pathFor route='articles'}}">{{name}}</a></li>
          {{/each}}
          <li class="divider"></li>
          <li><a href="{{pathFor route='topicsListing'}}">MANAGE TOPICS</a></li>
        </ul>
        </div>
        <ul class="right hide-on-med-and-down normal-nav">
          {{#if currentUser}} 
              <li class="admin"><a href="{{pathFor route='profileView'}}"><img src="{{file_S3}}"> Hi, <b>{{currentUser.profile.name}}</b></a></li>  
            <li><a href="{{pathFor route='doctorsListing'}}" class="fa fa-users"></a></li>
            <li><a href="#" class="fa fa-envelope-o"></a></li>
            <li><a href="#" class="fa fa-bell"></a></li>
          {{/if}}  
          <div class="drop-holder">
            <a href="#" class="fa fa-cog dropdown-button" data-activates="dropdown1"></a>
              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                {{#if currentUser}}
                  <li><a href="#!">Invite a Friend</a></li>
                  <li><a href="#!">Settings</a></li>
                  <li><a href="#!">Privacy Policy</a></li>
                  <li><a href="#!">Terms of Use</a></li>
                  <li class="divider"></li>
                {{/if}}  
                <li class="custom-btn">{{> atNavButton }}</li>
              </ul>
          </div>
          <!-- <li>{{> atNavButton }}</li> -->
        </ul>
        
        <ul id="nav-mobile" class="side-nav">
          <li><a href="{{pathFor 'home'}}">Home</a></li>
          <li><a href="{{pathFor route='doctorsListing'}}">Doctors</a></li>
          <li><a href="{{pathFor route='advocatesListing'}}">Advocates</a></li>
          <li><a href="{{pathFor 'private'}}">Private</a></li>
          <li>{{> atNavButton }}</li>
        </ul>
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</template>
