<template name="nav">
  <nav role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <div class="user-pro-holder">      
          <a href="#" data-activates="slide-out" class="button-collapse-side"><img src="/imgs/image01.jpg"></a>
          <ul id="slide-out" class="side-nav doc-list">
            <a class='dropdown-button-side fa fa-chevron-down' href='#' data-activates='dropdown-side'> <span><img src="/imgs/image01.jpg"></span> Select Doctor</a>
            <ul id='dropdown-side' class='collection dropdown-content'>
              {{#each getFollowing}}
                {{#if notCurrentUser this}}
                  <li class="collection-item avatar drop-side" id="{{this}}">
                    <img src="{{getImage this}}" alt="" class="circle">
                    <span class="title">{{getDoctorName this}}</span>
                  </li>
                {{/if}}
              {{/each}}
              <li class="hide-nav"><a href="{{pathFor route='doctorsListing'}}" class="mdi-content-add">ADD DOCTOR</a></li>
            </ul>
            {{#each doctorTopics}}
              <li class="article-feed" id="{{this}}"><a href="{{pathFor route='articles'}}">{{getTopicName this}}</a></li>
            {{/each}}
              <li class="divider"></li>
              <li class="hide-nav show-topic"><a href="{{pathFor route='topicsListing'}}">MANAGE TOPICS</a></li>
          </ul>
        </div>
        <a href="{{pathFor route='articles'}}" class="brand-logo"><img src="/imgs/logo.jpg"></a>
        <div class="drop-topic right">
          <li><a class="dropdown-button-topic left" href="#!" data-activates="dropdown2">Topics<i class="material-icons right"></i></a></li>
          <ul id="dropdown2" class="dropdown-content">
          {{#each userTopics}}
          <li><a href="{{pathFor route='articles'}}">{{name}}</a></li>
          {{/each}}
          <li class="divider"></li>
          <li><a href="{{pathFor route='topicsListing'}}">MANAGE TOPICS</a></li>
        </ul>
        </div>
        <ul class="right hide-on-med-and-down normal-nav">
          {{#if currentUser}} 
              <li class="admin"><a href="{{pathFor route='profileView'}}"><img src="{{file_S3}}"> Hi, <b>{{currentUser.profile.name}}</b></a></li>
            {{#if ifDoctor}}    
              <li><a href="{{pathFor route='advocatesListing'}}" class="fa fa-users tooltipped" data-position="bottom" data-delay="50" data-tooltip="ADVOCATES"></a></li>
            {{else}}
              <li><a href="{{pathFor route='doctorsListing'}}" class="fa fa-users"></a></li>
            {{/if}}  
            <li><a href="{{pathFor route='conversationView'}}" class="fa fa-envelope-o tooltipped" data-position="bottom" data-delay="50" data-tooltip="Messages"></a></li>
            <li><a href="{{pathFor route='notifications'}}" class="fa fa-bell tooltipped" data-position="bottom" data-delay="50" data-tooltip="NOTIFICATION"></a></li>
          {{/if}}  
          <div class="drop-holder">
            <a href="#" class="fa fa-envelope-o tooltipped fa fa-cog dropdown-button" data-position="bottom" data-delay="50" data-tooltip="Settings" data-activates="dropdown1"></a>
              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                {{#if currentUser}}
                  <li><a href="#!">Invite a Friend</a></li>
                  <li><a href="#!">Settings</a></li>
                  <li><a href="#!">Privacy Policy</a></li>
                  <li><a href="#!">Terms of Use</a></li>
                  <li class="divider"></li>
                {{/if}}  
                <li class="custom-btn">{{> atNavButton }}</li>
              </ul>
          </div>
          <!-- <li>{{> atNavButton }}</li> -->
        </ul>
        
        <ul id="nav-mobile" class="side-nav">
          <li><a href="{{pathFor 'home'}}">Home</a></li>
          <li><a href="{{pathFor route='doctorsListing'}}">Doctors</a></li>
          <li><a href="{{pathFor route='advocatesListing'}}">Advocates</a></li>
          <li><a href="{{pathFor 'private'}}">Private</a></li>
          <li>{{> atNavButton }}</li>
        </ul>
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</template>
