<template name="settings">
  {{#contentFor "subnav"}}
    <div class="row">
      <div class="col s12 m2 l2">  
        <a href="{{pathFor route='articles'}}" class="back-btn left fa fa-chevron-left"> Back</a>
      </div>
      <div class="col s12 m8 l8">
        <h5 class="center-align">Settings</h5>
      </div>
    </div>
  {{/contentFor}}
  <div class="custom-container">
    <div class="row">
      <div class="col-md-12">
        <div class="shadow-box z-depth-1 profile-edit">
          <form class="settings-form" id="settings-form">
            <div class="prof-con">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" value="{{firstName}}">
                  <label for="first_name" class="active">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" value="{{lastName}}">
                  <label for="last_name" class="active">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" value="{{userEmail}}">
                  <label for="email" class="active">Email</label>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="prof-con">
              <div class="row">
                <div class="input-field col s6">
                  <input id="resetPasswordPassword" type="password">
                  <label for="resetPasswordPassword">Old Password</label>
                </div>
                <div class="input-field col s6">
                  <input id="resetPasswordPasswordConfirm" type="password">
                  <label for="resetPasswordPasswordConfirm">New Password</label>
                </div>
              </div>
              <div class="row bottom-links">
                {{#if isNotAdmin}}
                <div class="col s6">
                 <input type="submit" id ="deactive" class="org-color left reset-pass" value="Deactivate Account"> 
                </div>
                {{/if}}
                <div class="col s6">
                  <input type="submit" class="org-color right reset-pass" value="RESET PASSWORD">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>      
  </div>

  <div id="modal1" class="modal d-active-modal">
    <div class="modal-content">
      <h5>Are you sure you want to deactivate your account?</h5>
      <p>Your MedCircle information and posts will be removed.</p>
    </div>
    <div class="modal-footer clearfix">
      <a href="#!" id="deactivate" class="btn btn-default red">Deactivate</a>
      <a href="#!" id="cancle" class="btn btn-default blue">Cancle</a>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>

  <div id="modal2" class="modal d-active-modal">
    <div class="modal-content">
      <h5>Your MedCirle account has been deactivated.</h5>
      <p>We're sorry to see you go. You can sign up again anytime.</p>
    </div>
    <div class="modal-footer text-center">
      <a href="#!" id="okay" class="btn btn-default red">Okay</a>
    </div>
  </div>
</template>  