<template name="advocatesListing">
  {{#contentFor "subnav"}}
    <h5>Advocates</h5>
  {{/contentFor}}
  <div class="custom-container"> 
    <div class="row">
      <div class="col-md-12">
        <div class="doctors-listing">
          <div class="prof-con">
            <div class="row">
                {{#each advocateUsers}}
                    <div class="doc-detail col s12 m6 l3">
                      <div class="shadow-box z-depth-1">
                        <img src="{{getImage profile.picture}}" alt="{{title}}">
                        <div class="prof-data">
                          <div class="name">
                            <h5>{{profile.name}}</h5>
                          </div>
                          <div class="switch">
                            <label>
                              1st Circle
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>  
                {{/each}}
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div> 
</template>
