<template name="articleEdit">
  <h1>Edit Post</h1> 
  {{#autoForm collection="Posts" id="updatePostForm" type="update" doc=this}}
    <div class="custom-container">
      <div class="form-holder">
        <div class="row">
          <div class="col-md-12">
            <div class="shadow-box z-depth-1">
              {{# if fileId}}   
                <div class="form-group center">
                  <img src="{{file_S3_url}}">
                  {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
                </div>
              {{ else }}
                <div class="upload-btn-holder">
                  <div class="fileUpload btn ">
                    <!-- <span class="mdi-content-add">Add Photo</span> -->
                    {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
                  </div>
                </div>
              {{/if}}  
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='title' label-class="active"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='source'  label-class="active"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='url'  label-class="active"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <div class="select-wrapper">
                        {{> afQuickField name='articleType'  label-class="active" options="allowed"}}
                      </div> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='postTo'  label-class="active" options="allowed"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='body' label-class="active"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='comment' label-class="active"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <button type="submit" class="waves-effect waves-light btn right post-btn">Post To Advocates</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/autoForm}}
</template>