<template name="articleNew">
  {{#autoForm collection="Posts" id="insertPostForm" type="insert"}}
    <div class="custom-container">
      <div class="form-holder">
        <div class="row">
          <div class="col-md-12">
            <div class="shadow-box z-depth-1">
              {{# if fileId}}
                <div class="form-group center">
                  <span><img src="{{file_S3_url}}"></span>
                </div>
              {{ else }}
                <div class="upload-btn-holder">
                  <div class="fileUpload btn ">
                    <div class="form-group mdi-content-add">
                    <!-- <span class="mdi-content-add">Add Photo</span> -->
                    {{> afQuickField name="fileId" type="cfs-file" collection="files"}}
                    <!-- <input type="file" class="upload file_bag" /> -->
                    <!-- <button class="upload">Upload</button> -->
                  </div>
                  </div>
                </div>
              {{/if}}
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='title'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='source'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='url'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <div class="select-wrapper">
                        {{> afQuickField name='articleType' label-class="active" options="allowed"}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='postTo' label-class="active" options="allowed"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='body'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      {{> afQuickField name='comment'}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <button type="submit" class="waves-effect waves-light btn right post-btn">Post To Advocates</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/autoForm}}
</template>
