<template name="articleView">
{{#contentFor "subnav"}}
  <div class="row posts-listing">
    <div class="col s3 m2 l2">  
      <a href="{{pathFor route='articles'}}" class="back-btn left fa fa-chevron-left"> Back</a>
    </div>
    <div class="col s6 m8 l8">
      <h5 class="center-align">{{title}} </h5>
    </div>
    {{#if isInRole 'doctor'}}
      <div class="col s3 m2 l2">
        <a href="{{pathFor 'rePost' id=_id }}" class="right forward-btn"> <i class="fa fa-mail-forward"></i> </a>
      </div>
    {{/if}}  
  </div>
{{/contentFor}}
  {{#each list}}
  <div class="custom-container">
    <div class="form-holder">
      <div class="row">
        <div class="col-md-12">
          <div class="post-img-holder">
            <img src="{{file_S3}}">
            <div class="post-head">
              <img src="{{getImage authorId}}">
              <strong class="auhtor-name">DR. {{getDoctorName authorId}}
                <span>
                    <b>{{getArticleName articleTopic}}</b>
                </span>
              </strong>
            </div>
          </div>
          <div class="post-det-holder">
            <h4>{{title}}</h4>
            <a href="{{url}}" target="_blank"><b>{{source}}</b></a> 
            <p>{{body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  {{/each}}  
</template>