<template name="profileView">
  {{#contentFor "subnav"}}
    <h5 class="left">Dr. {{currentUser.profile.name}} </h5>
    <div class="edit-profile right"><a href="{{pathFor 'editProfile'}}">Edit Profile</a></div>
  {{/contentFor}}
<div class="custom-container">
  <div class="form-holder">  
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <div class="row">
          <div class="col-md-12">
            <div class="shadow-box z-depth-1 profile-edit">
              <img src="{{getImage picture}}" alt="{{title}}">
              <div class="prof-con">
                <div class="profile-name">
                  <h5>Dr. {{currentUser.profile.name}}</h5>
                  <h6>{{currentUser.profile.speciality}}</h6>
                </div>
                <div class="profile-detail">
                  <ul class="clearfix">
                    <li><i class="fa fa-envelope-o"></i> {{currentUser.emails.[0].address}}</li>
                    <li><i class="fa fa-phone"></i> {{currentUser.profile.phone}}</li>
                    <li><i class="fa fa-thumb-tack"></i> {{currentUser.profile.addressOne}}, {{currentUser.profile.addressTwo}}</li>
                  </ul>
                </div>
                <div class="prof-bio">
                  <p>{{currentUser.profile.bio}}</p>
                </div>
              </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>