<template name="notifications">
  {{#contentFor "subnav"}}
  <div class="row">
    <div class="col s12 m2 l2">  
      <a href="{{pathFor route='articles'}}" class="back-btn left fa fa-chevron-left"> Back</a>
    </div>
    <div class="col s12 m8 l8">
      <h5 class="center-align">Notifications</h5>
    </div>
    <div class="col s12 m2 l2">
    </div>
  </div>
  {{/contentFor}}
  <div class="custom-container"> 
    <div class="row">
      <div class="col-md-12">
        {{#each notifications}}
          <div class="shadow-box z-depth-1 notification">
            <div class="clearfix">
              {{#if getImage followerId}}
                <div class="img" style="background: url('{{getImage followerId}}') no-repeat;" alt="{{title}}"></div>
                <!-- <img src="{{getImage followerId}}" alt="{{title}}"> -->
              {{else}}
                <div class="img" style="background: url('/imgs/user.jpg') no-repeat;" alt="{{title}}"></div>
                <!-- <img src="/imgs/user.jpg"> -->
              {{/if}}
              <div class="text">
                <div class="name {{ifRead read}}">{{getName followerId}}</div>
                  {{#if startedFollowing}}
                    <p>Has started following you.</p>
                  {{else}}
                    <p>unfollowed you.</p>
                  {{/if}}
              </div>
            </div>
          </div>
        {{/each}}    
      </div>
    </div>
  </div>      
</template>